 body{
 }

.header{

	font-family:  'Georgia', Times, Times New Roman, serif;
	 padding: 0px; 
  margin-top: 0px;
  height: 50px;
  border-bottom-style: solid;
  border-bottom-color: #dbdbdb;
  border-bottom-width: 3px;

}

#logo{
		float:left;
		position:relative;
		left: 1px;
		top:1.5px;
		width: 20%;
		height: 40px;
		text-align: center;
		margin-left: 10%;
		padding: .3%;
		vertical-align: middle;
		background-color: #4aaaa5;
		color: white;
}
.hdrObjects{
		width: 10%;
		height: 30px;
		text-align: center;
		margin-left: 10%;
		padding: .3%;
		vertical-align: middle;
		color: gray;
		border-right-style: solid;
		border-right-color: gray;


}
#about{
		float:left;
		top:10px;
		position: absolute;
		left: 600px;
	
}

#portfolio{
		float: left;
		top:10px;
		position: absolute;
		left: 750px;
}
#contact{
		float: left;
		top:10px;
		position: absolute;
		left: 900px;
}
.aboutMe{
   background-image: url("../images/concrete-texture/concrete-texture/concrete-texture.png");

    border-style: solid;
    border-width: 3px;
	height: 500px;
	/*height: 100%; */
	/*padding: 20px;*/
	widt: 100%;

}
.tmpClass{
	float:left;
	position: relative;
	left: 25px;
	padding: 20px;
	margin: 2px;
	width: 50%;
	height: 450px;
	border-style: dotted;
	border-color: red;
	overflow: auto;
}
#myPicture{

	float:left;
	padding: 20px;
	height: 150px;
	width: 130px;
}
#aboutMeContacts{
	float:left;
	position: relative;
	left: 50px;
	top: 25px;
	border-style: dotted;
	border-color: green;
	width: 25%;
	height: 300px;
	padding: 20px;
}
.footing{
position: fixed;
	text-align: center;
	background-color: red;
	 bottom: 0;
	 width: 100%;
	 height: 45px;
	 
}